@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  border: 0px;
}

img {
  display: block;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.noDisplay {
  display: none;
}

body {
  background-color: #fdfdfd;
}

#refresh {
  width: 50px;
  height: 50px;
  left: 50px;

  color: red;

  position: absolute;
}

#sectionTop {
  top: 0px;
  height: 196px;
}

#sectionTop h1 {
  font-weight: 500;
  font-size: 2.25em; /* 36px */

  color: #00b0ff;

  padding-top: 56px;
  margin-bottom: 0px;
}

#sectionTop form {
  margin-top: 24px;

  bottom: 32px;
}

#sectionTop input {
  width: 328px;
  height: 49px;

  background: rgba(170, 169, 183, 0.2);
  border: 2px solid rgba(170, 169, 183, 0.4);
  box-sizing: border-box;
  border-radius: 25px;

  padding-left: 20px;
  padding-right: 24px;
}

#sectionTop button {
  background: url(./assets/plus.png);

  width: 25px;
  height: 25px;

  margin-left: -37px;
  top: 134px;

  position: absolute;
}

hr {
  height: 0px;
  left: 0px;
  right: 0px;
  border: 1px solid rgba(170, 169, 183, 0.6);
}

/* Tarefas */

.task {
  width: 408px;
  height: 50px;
  margin-top: 6px;

  background: #fdfdfd;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  border-radius: 4px;

  position: relative;
}

.taskLeft {
  width: 326px;
  left: 0px;
  top: 14px;
  padding-left: 16px;

  box-sizing: border-box;
  display: inline-block;
  position: absolute;
}

.taskLeft p {
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;

  color: #111111;
}

.taskRight {
  width: 79px;
  height: 48px;
  right: 0px;
  top: 0px;

  box-sizing: border-box;
  display: inline-block;
  position: absolute;
}

.taskGreen {
  width: 31px;
  height: 32.44px;
  left: 13px;
  top: 8.28px;
  position: absolute;
  background: url("./assets/green.png");
}

.taskRed {
  height: 2px;
  width: 14px;
  right: 13px;
  top: 25px;
  position: absolute;
  background: url("./assets/red.png");
}

.taskGreen:hover,
.taskRed:hover,
.taskD button {
  cursor: pointer;
}

/* Tarefas feitas */

.taskD button {
  width: 30px;
  height: 30px;
  top: 9px;
  right: 6px;
  position: absolute;

  background: url("./assets/redBig.png");
}

.taskD p {
  opacity: 0.5;
}

#sectionMiddle {
  padding-bottom: 36px;
}

#divmeio {
  color: red;
  width: 15px;
  height: 12px;
}

#sectionMiddle h2 {
  width: 58px;
  height: 26px;

  font-weight: 500;
  font-size: 1.375em; /* 22px */

  color: #5c5a6c;

  padding-top: 19px;
  padding-bottom: 16px;
}

#nada {
  width: 232px;
  height: 103px;

  background: #fdfdfd;
  border: 1px solid rgba(170, 169, 183, 0.5);
  box-sizing: border-box;
  border-radius: 6px;

  display: block;
  margin-top: 6px;

  clear: both;
}

#nada img {
  width: 50px;
  height: 50px;

  margin-top: 27px;
  margin-left: 26px;

  float: left;
}

#nada p {
  width: 105px;
  height: 19px;

  line-height: 1.1875em;
  font-weight: 400;
  font-weight: normal;
  font-size: 1em; /* 16px */

  color: #39374e;

  opacity: 0.7;

  float: right;
  text-align: left;

  margin-top: 43px;
  margin-right: 32px;
}

#sectionBottom h2 {
  width: 58px;
  height: 26px;

  font-weight: 500;
  font-size: 1, 375em; /* 22px */

  color: #5c5a6c;

  opacity: 0.7;

  padding-top: 19px;
  padding-bottom: 16px;
}

@media screen and (max-width: 420px) {
  /* TODO: Fazer as tasks ficarem responsivas */
}

@media screen and (max-width: 340px) {
  form button {
    right: 5%;
  }

  #sectionTop input {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
